<html>
<head>
<title>Simple Calculator</title>
</head>
<body>
<h3>Simple Calculator</h3>
<form action="/result/" method="post">
{% csrf_token %}
1st value: <input type="text" name="1st"><br>
2nd value: <input type="text" name="2nd" /><br>
<input type="radio" name="method" value="+" /> +
<input type="radio" name="method" value="-" /> -
<input type="radio" name="method" value="*" /> *
<input type="radio" name="method" value="/" /> /
<br>
<input type="submit" value="Calculate" />
</form>
